<mat-toolbar>
    <span routerLink="/">{{title}}</span>
    <span class="titlebar-spacer"></span>
    @if (isLoggedInAsAdmin()) {
    <mat-slide-toggle labelPosition="before" matTooltip="Activate Admin Console" (change)="navigate($event.checked)"
        [checked]="adminActivated">
        Admin Console
    </mat-slide-toggle>
    }
    @if (isLoggedIn()) {
    <button mat-icon-button aria-label="Logout icon-button" matTooltip="Logout" (click)="logout()">
        <mat-icon>logout</mat-icon>
    </button>
    }
</mat-toolbar>
<router-outlet></router-outlet>