<div class="max-w-96 place-self-center p-4">
    <mat-card appearance="outlined">
        <mat-card-content>
            <p class="text-4xl">Register</p>
            <div class="h-10 py-2">
                @if (errorMessage) {
                <mat-error>{{errorMessage}}</mat-error>
                }
                @if (registerForm.hasError('passwordsMismatch') && isSubmitted) {
                <mat-error>Passwords do not match</mat-error>
                }
            </div>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="w-full">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput [formControl]="registerForm.controls.email"
                        [errorStateMatcher]="matcher" />
                    @if (registerForm.controls.email.hasError('email') &&
                    !registerForm.controls.email.hasError('required')) {
                    <mat-error>Please enter a valid email address</mat-error>
                    } @if (registerForm.controls.email.hasError('required')) {
                    <mat-error>Email is <strong>required</strong></mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput [formControl]="registerForm.controls.password"
                        [errorStateMatcher]="matcher" />
                    @if (registerForm.controls.password.hasError('required')) {
                    <mat-error>Password is <strong>required</strong></mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Confrim Password</mat-label>
                    <input type="password" matInput [formControl]="registerForm.controls.confirmPassword"
                        [errorStateMatcher]="matcher" />
                    @if (registerForm.controls.confirmPassword.hasError('required')) {
                    <mat-error>Confirm password is <strong>required</strong></mat-error>
                    }
                </mat-form-field>
                <div class="place-self-end">
                    <button mat-raised-button>Register</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>