<div class="max-w-96 place-self-center p-4">
    <mat-card appearance="outlined">
        <mat-card-content>
            <p class="text-4xl">Login</p>
            <div class="h-10 py-2">
                @if (errorMessage) {
                <mat-error>{{errorMessage}}</mat-error>
                }
            </div>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="w-full">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput [formControl]="registerForm.controls.email"
                        [errorStateMatcher]="matcher" />
                    @if (registerForm.controls.email.hasError('email') &&
                    !registerForm.controls.email.hasError('required')) {
                    <mat-error>Please enter a valid email address</mat-error>
                    } @if (registerForm.controls.email.hasError('required')) {
                    <mat-error>Email is <strong>required</strong></mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput [formControl]="registerForm.controls.password"
                        [errorStateMatcher]="matcher" />
                    @if (registerForm.controls.password.hasError('required')) {
                    <mat-error>Password is <strong>required</strong></mat-error>
                    }
                </mat-form-field>
                <div class="pt-4">
                    <button mat-flat-button class="w-full">Login</button>
                </div>
                <div class="place-self-center pt-4">
                    <p>Don't have an account? <a routerLink="/register" class="underline text-blue-500">Register</a>
                    </p>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>