/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use "tailwindcss";

html, body { height: 100%; 
    @include mat.theme((
        color: mat.$violet-palette,
        typography: Roboto,
        density: -1,
      )); 
      scrollbar-gutter: stable;
    }